# Notebook to run ExtractData.py

In [83]:
#execfile('/Users/kartiks/Documents/github/GolfScores/ExtractData.py')
#execfile('C:\docs\github\golfscores\ExtractData.py')
%matplotlib inline
%run ExtractData.py

In [84]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [86]:
combined_df.describe()

,ATTACK ANG.,BALL SPEED,CARRY,CLUB PATH,CLUB SPEED,DYN. LOFT,FACE ANG.,FACE TO PATH,HEIGHT,LAND. ANG.,LAUNCH ANG.,SMASH FAC.,SPIN AXIS,SPIN LOFT,SPIN RATE,STROKE NO,SWING DIR.,SWING PL.,TOTAL
count,920.000000,1361.000000,1361.000000,875.000000,1361.000000,875.000000,875.000000,844.000000,1308.000000,1308.000000,1308.000000,1308.000000,437.000000,31.000000,1361.000000,1351.000000,1254.000000,1147.000000,1308.000000
mean,0.521522,90.176341,114.480676,0.084457,72.957311,26.575543,0.911657,1.030095,54.332263,37.373318,19.889602,1.229388,1.038215,24.748387,5796.526819,31.672095,1.011563,58.473583,127.251682
std,2.355193,11.481707,24.479026,2.961154,5.311451,5.344104,6.705778,6.693290,20.255824,9.331642,4.595805,0.137536,8.377021,6.890615,1622.042661,20.839381,3.818264,4.414506,23.785373
min,-6.600000,5.600000,6.200000,-9.900000,1.400000,3.600000,-25.600000,-19.100000,0.600000,1.900000,1.500000,0.090000,-26.800000,6.000000,650.000000,1.000000,-10.200000,2.400000,10.000000
25%,-0.900000,85.400000,104.900000,-1.800000,71.500000,23.900000,-3.300000,-3.300000,42.675000,33.600000,17.900000,1.180000,-4.100000,22.250000,4910.000000,14.000000,-1.500000,56.300000,116.475000
50%,0.400000,91.200000,117.900000,0.000000,73.200000,27.000000,0.700000,0.900000,57.150000,39.800000,20.500000,1.250000,1.600000,25.200000,5870.000000,29.000000,0.800000,58.600000,128.000000
75%,1.900000,96.500000,128.700000,2.000000,75.000000,29.900000,4.950000,5.400000,69.125000,43.800000,22.800000,1.310000,6.200000,27.800000,6860.000000,46.000000,3.400000,60.900000,139.300000
max,9.000000,128.700000,195.600000,10.600000,86.100000,38.400000,40.300000,38.600000,107.800000,53.200000,42.200000,1.500000,42.500000,37.300000,9830.000000,90.000000,16.600000,69.800000,228.000000

In [87]:
combined_df.columns.values

array([u'ATTACK ANG.', u'BALL SPEED', u'CARRY', u'CLUB', u'CLUB PATH',
       u'CLUB SPEED', u'DATE', u'DYN. LOFT', u'FACE ANG.', u'FACE TO PATH',
       u'HEIGHT', u'LAND. ANG.', u'LAUNCH ANG.', u'LOW POINT', 'SHEETNAME',
       u'SIDE', u'SIDE TOT.', u'SMASH FAC.', u'SPIN AXIS', u'SPIN LOFT',
       u'SPIN RATE', u'STROKE NO', u'SWING DIR.', u'SWING PL.', u'TOTAL'], dtype=object)

### Need to convert most of the columns to ints but not all 
 Get the columns headers into a set
 for each column header if it's not a type we don't want as an int conver it into one.
 Also see ExtractData.py
 Need to figuire out how to convert the colum values to a set and then take difference as below.

In [88]:
combined_df.SHEETNAME.unique()

array(['3-6-2015', '3-7 - 4-4', '4-8', '4-11-2015', '4-18-2015',
       '4-24-2015', '4-25-2015', '4-29-15', '5-16', '5-30-2015',
       '06-13-2015', '07-18-2015', '08-18-2015', '10-10-2015',
       '10-24-2015', '11-17-2015', '11-21-2015', '2-27-2016', '3-29-2016',
       '4-23-2016'], dtype=object)

In [89]:
d = combined_df[combined_df.SHEETNAME == '2-27-2016']
combined_df['SHEETNAME'].astype('string').unique()

array(['3-6-2015', '3-7 - 4-4', '4-8', '4-11-2015', '4-18-2015',
       '4-24-2015', '4-25-2015', '4-29-15', '5-16', '5-30-2015',
       '06-13-2015', '07-18-2015', '08-18-2015', '10-10-2015',
       '10-24-2015', '11-17-2015', '11-21-2015', '2-27-2016', '3-29-2016',
       '4-23-2016'], dtype=object)

In [90]:
combined_df.dtypes

ATTACK ANG.            float64
BALL SPEED             float64
CARRY                  float64
CLUB                    object
CLUB PATH              float64
CLUB SPEED             float64
DATE            datetime64[ns]
DYN. LOFT              float64
FACE ANG.              float64
FACE TO PATH           float64
HEIGHT                 float64
LAND. ANG.             float64
LAUNCH ANG.            float64
LOW POINT               object
SHEETNAME               object
SIDE                    object
SIDE TOT.               object
SMASH FAC.             float64
SPIN AXIS              float64
SPIN LOFT              float64
SPIN RATE              float64
STROKE NO              float64
SWING DIR.             float64
SWING PL.              float64
TOTAL                  float64
dtype: object

In [91]:
combined_df.CLUB.unique()

array(['6', 'Dr', '3'], dtype=object)

### Filter out the different Clubs and add them to store

In [99]:
hdf = pd.HDFStore('Golf_data.h5')
df = combined_df[combined_df.CLUB == '6']
hdf.put('I6', df, format = 'table', data_colums=True)

df = combined_df[combined_df.CLUB == '3']
hdf.put('I3', df, format = 'table', data_colums=True)

df = combined_df[combined_df.CLUB == 'Dr']
hdf.put('Dr', df, format = 'table', data_colums=True)

In [100]:
hdf

<class 'pandas.io.pytables.HDFStore'>
File path: Golf_data.h5
/Dr            frame_table  (typ->appendable,nrows->41,ncols->25,indexers->[index])
/I3            frame_table  (typ->appendable,nrows->7,ncols->25,indexers->[index])
/I6            frame_table  (typ->appendable,nrows->1314,ncols->25,indexers->[index])

In [101]:
hdf['I6']

,ATTACK ANG.,BALL SPEED,CARRY,CLUB,CLUB PATH,CLUB SPEED,DATE,DYN. LOFT,FACE ANG.,FACE TO PATH,...,SIDE,SIDE TOT.,SMASH FAC.,SPIN AXIS,SPIN LOFT,SPIN RATE,STROKE NO,SWING DIR.,SWING PL.,TOTAL
0,NaN,66.3,19.2,6,NaN,63.2,2015-03-06,NaN,NaN,NaN,...,NaN,NaN,1.05,NaN,NaN,2150.0,1.0,-0.4,NaN,55.6
1,NaN,78.4,92.9,6,NaN,70.2,2015-03-06,NaN,NaN,NaN,...,NaN,NaN,1.12,NaN,NaN,6620.0,2.0,-3.1,NaN,103.6
2,NaN,76.1,77.1,6,NaN,68.3,2015-03-06,NaN,NaN,NaN,...,NaN,NaN,1.11,NaN,NaN,3740.0,3.0,NaN,NaN,102.5
3,2.1,92.5,121.8,6,-3.0,71.9,2015-03-06,28.6,-9.9,NaN,...,NaN,NaN,1.29,NaN,27.7,5900.0,4.0,-1.8,NaN,130.6
4,NaN,79.4,80.2,6,NaN,73.4,2015-03-06,NaN,NaN,NaN,...,NaN,NaN,1.08,NaN,NaN,4470.0,5.0,-2.3,NaN,105.0
5,-0.2,94.8,123.5,6,-4.2,71.5,2015-03-06,33.1,1.2,NaN,...,NaN,NaN,1.33,NaN,33.8,7320.0,6.0,-4.4,NaN,127.9
6,NaN,69.7,78.3,6,NaN,72.8,2015-03-06,NaN,NaN,NaN,...,NaN,NaN,0.96,NaN,NaN,9010.0,7.0,-7.1,NaN,83.5
7,-1.3,91.2,116.5,6,-8.1,70.6,2015-03-06,35.1,0.9,NaN,...,NaN,NaN,1.29,NaN,37.3,8040.0,8.0,-9.0,NaN,120.0
8,NaN,51.2,34.9,6,NaN,72.7,2015-03-06,NaN,NaN,NaN,...,NaN,NaN,0.70,NaN,NaN,7220.0,9.0,NaN,NaN,47.7
9,5.4,81.5,94.2,6,-9.1,70.0,2015-03-06,19.3,-13.6,NaN,...,NaN,NaN,1.16,NaN,15.1,2920.0,10.0,-6.0,NaN,120.2
10,NaN,96.8,121.5,6,NaN,72.2,2015-03-06,NaN,NaN,NaN,...,NaN,NaN,1.34,NaN,NaN,3350.0,11.0,-4.8,NaN,148.7
11,NaN,63.9,37.8,6,NaN,69.7,2015-03-06,NaN,NaN,NaN,...,NaN,NaN,0.92,NaN,NaN,2800.0,12.0,11.2,NaN,69.3
12,9.0,91.1,122.5,6,3.3,70.2,2015-03-06,21.1,0.2,NaN,...,NaN,NaN,1.30,NaN,12.5,2550.0,13.0,9.2,NaN,146.6
13,4.6,88.6,115.2,6,5.8,69.0,2015-03-06,27.5,-3.6,NaN,...,NaN,NaN,1.28,NaN,24.6,5170.0,14.0,9.0,NaN,126.4
14,3.6,98.1,132.1,6,3.6,76.3,2015-03-06,25.7,-7.1,NaN,...,NaN,NaN,1.28,NaN,24.6,5390.0,15.0,6.1,NaN,142.6
15,2.1,93.4,109.8,6,3.5,70.7,2015-03-06,18.5,-15.9,NaN,...,NaN,NaN,1.32,NaN,25.5,4620.0,16.0,5.0,NaN,130.6
16,0.1,87.2,110.2,6,-1.6,70.4,2015-03-06,35.9,1.1,NaN,...,NaN,NaN,1.24,NaN,35.8,7850.0,17.0,-1.5,NaN,114.1
17,4.0,95.8,123.3,6,-0.6,72.1,2015-03-06,20.5,-15.1,NaN,...,NaN,NaN,1.33,NaN,22.2,4250.0,18.0,2.3,NaN,141.6
18,6.6,80.8,57.7,6,-1.2,69.8,2015-03-06,12.9,-25.6,NaN,...,NaN,NaN,1.16,NaN,25.2,4530.0,19.0,2.9,NaN,90.0
19,1.9,95.6,127.0,6,-1.5,72.2,2015-03-06,29.8,-7.8,NaN,...,NaN,NaN,1.32,NaN,28.7,6180.0,20.0,-0.2,NaN,134.2
20,NaN,74.4,65.6,6,NaN,71.6,2015-03-06,NaN,NaN,NaN,...,NaN,NaN,1.04,NaN,NaN,3290.0,21.0,NaN,NaN,95.8
21,2.0,95.7,128.3,6,2.6,74.5,2015-03-06,24.7,-5.2,NaN,...,NaN,NaN,1.29,NaN,24.0,5100.0,22.0,4.0,NaN,140.2
22,2.1,92.4,121.0,6,-1.9,70.4,2015-03-06,32.2,-2.0,NaN,...,NaN,NaN,1.31,NaN,30.1,6530.0,23.0,-0.5,NaN,127.0
23,0.3,93.8,123.0,6,-5.4,70.9,2015-03-06,31.0,0.7,NaN,...,NaN,NaN,1.32,NaN,31.2,6660.0,24.0,-5.1,NaN,129.4
24,3.5,86.1,92.7,6,-9.9,71.1,2015-03-06,17.8,8.5,NaN,...,NaN,NaN,1.21,NaN,23.1,4350.0,25.0,-6.4,NaN,116.2
25,NaN,65.3,67.5,6,NaN,69.6,2015-03-06,NaN,NaN,NaN,...,NaN,NaN,0.94,NaN,NaN,7770.0,26.0,4.6,NaN,77.0
26,6.5,91.9,75.7,6,-8.0,71.9,2015-03-06,11.5,3.3,NaN,...,NaN,NaN,1.28,NaN,12.2,2350.0,27.0,-3.3,NaN,119.4
27,NaN,73.0,79.8,6,NaN,69.9,2015-03-06,NaN,NaN,NaN,...,NaN,NaN,1.04,NaN,NaN,6160.0,28.0,NaN,NaN,93.7
28,-2.1,88.1,111.8,6,-3.1,71.7,2015-03-06,33.7,-1.2,NaN,...,NaN,NaN,1.23,NaN,35.8,7820.0,29.0,-4.6,NaN,116.6
29,NaN,87.0,103.0,6,NaN,67.6,2015-03-06,NaN,NaN,NaN,...,NaN,NaN,1.29,NaN,NaN,3540.0,30.0,0.5,NaN,128.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29,NaN,84.9,103.4,6,NaN,75.4,2016-04-23,NaN,NaN,NaN,...,NaN,NaN,1.13,NaN,NaN,6100.0,30.0,0.0,65.2,117.4
30,NaN,84.4,103.4,6,NaN,75.9,2016-04-23,NaN,NaN,NaN,...,NaN,NaN,1.11,NaN,NaN,6560.0,31.0,3.7,65.9,115.5
31,-1.7,90.2,107.7,6,6.4,72.7,2016-04-23,18.1,-4.4,-10.8,...,NaN,NaN,1.24,NaN,NaN,4440.0,32.0,5.6,65.4,130.2
32,NaN,94.3,124.0,6,NaN,73.7,2016-04-23,NaN,NaN,NaN,...,NaN,NaN,1.28,NaN,NaN,7680.0,33.0,2.4,62.2,129.2
33,1.5,97.2,131.4,6,-1.7,73.2,2016-04-23,28.7,3.0,4.8,...,NaN,NaN,1.33,NaN,NaN,6170.0,34.0,-1.0,63.1,139.4
34,0.2,88.7,109.5,6,3.3,72.6,2016-04-23,22.7,-11.1,-14.3,...,NaN,NaN,1.22,NaN,NaN,5560.0,35.0,3.4,68.1,124.8
35,0.5,101.1,141.1,6,-1.8,74.5,2016-04-23,20.4,-5.5,-3.8,...,NaN,NaN,1.36,NaN,NaN,4130.0,36.0,-1.5,60.9,158.4
36,-2.4,99.7,121.5,6,1.9,73.6,2016-04-23,15.4,-11.4,-13.4,...,NaN,NaN,1.35,NaN,NaN,4450.0,37.0,0.6,61.3,145.9
37,0.2,99.1,137.2,6,-2.0,72.8,2016-04-23,22.1,0.0,1.9,...,NaN,NaN,1.36,NaN,NaN,4480.0,38.0,-1.8,60.9,152.4
38,1.0,94.8,121.3,6,2.7,74.7,2016-04-23,20.9,-11.2,-13.9,...,NaN,NaN,1.27,NaN,NaN,4990.0,39.0,3.2,64.9,138.2
39,1.1,86.5,110.0,6,1.9,73.7,2016-04-23,26.2,-0.2,-2.1,...,NaN,NaN,1.17,NaN,NaN,5680.0,40.0,2.4,64.1,122.6
40,NaN,68.9,47.5,6,NaN,73.0,2016-04-23,NaN,NaN,NaN,...,NaN,NaN,0.94,NaN,NaN,3150.0,41.0,NaN,NaN,80.0
41,1.7,93.7,125.8,6,0.1,72.6,2016-04-23,25.9,-2.8,-2.9,...,NaN,NaN,1.29,NaN,NaN,5330.0,42.0,1.0,63.4,137.4
42,NaN,79.7,94.3,6,NaN,73.6,2016-04-23,NaN,NaN,NaN,...,NaN,NaN,1.08,NaN,NaN,6680.0,43.0,3.7,64.3,106.4
43,NaN,95.9,128.5,6,NaN,72.9,2016-04-23,NaN,NaN,NaN,...,NaN,NaN,1.32,NaN,NaN,5850.0,44.0,8.2,63.3,139.4
44,-2.0,101.2,139.9,6,1.8,73.3,2016-04-23,23.9,2.4,0.6,...,NaN,NaN,1.38,NaN,NaN,5340.0,45.0,0.8,63.5,151.5
45,0.3,100.0,136.6,6,1.3,72.6,2016-04-23,28.4,3.2,1.9,...,NaN,NaN,1.38,NaN,NaN,6170.0,46.0,1.5,62.7,144.2
46,NaN,88.1,112.3,6,NaN,73.0,2016-04-23,NaN,NaN,NaN,...,NaN,NaN,1.21,NaN,NaN,6390.0,47.0,0.7,66.9,123.1
47,NaN,76.2,86.6,6,NaN,71.5,2016-04-23,NaN,NaN,NaN,...,NaN,NaN,1.07,NaN,NaN,6900.0,48.0,2.9,62.6,99.0
48,NaN,98.8,125.4,6,NaN,75.5,2016-04-23,NaN,NaN,NaN,...,NaN,NaN,1.31,NaN,NaN,3840.0,49.0,1.0,63.7,151.3
49,2.1,87.1,110.8,6,0.9,73.7,2016-04-23,23.9,-2.9,-3.8,...,NaN,NaN,1.18,NaN,NaN,4890.0,50.0,1.9,65.7,126.3
50,-0.4,99.3,137.2,6,-3.0,73.7,2016-04-23,21.1,-4.5,-1.5,...,NaN,NaN,1.35,NaN,NaN,4330.0,51.0,-3.3,61.1,153.7
51,NaN,102.1,142.5,6,NaN,73.2,2016-04-23,NaN,NaN,NaN,...,NaN,NaN,1.39,NaN,NaN,4740.0,52.0,NaN,NaN,156.8
52,1.4,92.0,121.4,6,3.1,73.6,2016-04-23,24.3,-2.2,-5.2,...,NaN,NaN,1.25,NaN,NaN,5110.0,53.0,3.7,65.7,135.1
53,NaN,90.9,106.4,6,NaN,75.0,2016-04-23,NaN,NaN,NaN,...,NaN,NaN,1.21,NaN,NaN,3730.0,54.0,-2.9,58.5,134.1
54,NaN,94.4,120.6,6,NaN,73.6,2016-04-23,NaN,NaN,NaN,...,NaN,NaN,1.28,NaN,NaN,4380.0,55.0,5.4,64.6,141.5
55,-1.2,91.8,120.7,6,-0.1,71.3,2016-04-23,25.1,0.3,0.5,...,NaN,NaN,1.29,NaN,NaN,5550.0,56.0,-0.7,62.8,133.0
56,-0.4,84.0,102.1,6,-2.6,71.9,2016-04-23,22.8,-4.7,-2.1,...,NaN,NaN,1.17,NaN,NaN,4930.0,57.0,-2.8,66.0,119.5
57,0.8,86.4,106.3,6,-0.1,72.3,2016-04-23,22.4,-9.4,-9.2,...,NaN,NaN,1.19,NaN,NaN,4940.0,58.0,0.2,65.7,123.5
58,NaN,94.6,125.3,6,NaN,74.0,2016-04-23,NaN,NaN,NaN,...,NaN,NaN,1.28,NaN,NaN,4980.0,59.0,-0.8,63.8,140.7

### Group by Date and remove the  date '2015-04-25' since it has many NAN

In [ ]:
bydate = df.groupby('DATE')
#bydate = bydate.mean()
#bydate.drop(pd.Timestamp('20150424'))

TODO: Figure out how to plot the differnet measures, since "bydate" above already calculates mean. So need to determine how to drop a row index when you group by. Below will give an Error

In [ ]:

bydate.mean()
#bydate.min()['TOTAL'].plot()
#bydate.max()['TOTAL'].plot()

In [ ]:
#bydate['ATTACK ANG.'].plot()
#bydate['SWING DIR.'].plot()
bydate['TOTAL'].plot()