# Notebook to run ExtractData.py and understand how to convert the series with "minus" signs in unicode to floats

In [6]:
#execfile('/Users/kartiks/Documents/github/GolfScores/ExtractData.py')
execfile('C:\docs\github\golfscores\ExtractData.py')
%matplotlib inline

In [7]:
combined_df.describe()

,ATTACK ANG.,BALL SPEED,CARRY,CLUB,CLUB PATH,CLUB SPEED,DYN. LOFT,FACE ANG.,FACE TO PATH,HEIGHT,LAND. ANG.,LAUNCH ANG.,SMASH FAC.,SPIN AXIS,SPIN LOFT,SPIN RATE,STROKE NO,SWING DIR.,SWING PL.,TOTAL
count,542.000000,791.000000,791.000000,750.000000,497.000000,791.000000,497.000000,497.000000,466.000000,738.000000,738.000000,738.000000,738.000000,233.000000,31.000000,791.000000,781.000000,712.000000,605.000000,738.000000
mean,0.488930,90.600506,115.204804,5.972000,0.126358,73.221365,26.040040,0.984306,1.227253,53.852033,36.807724,19.537940,1.226355,0.946352,24.748387,5671.691530,32.646607,1.154213,57.963471,128.647561
std,2.361323,12.600582,26.260334,0.288664,2.937249,6.502639,5.645076,6.348685,6.381752,20.893544,9.773016,4.696322,0.149201,9.071692,6.890615,1714.726866,22.048794,4.003600,5.243524,26.372968
min,-6.000000,5.600000,13.400000,3.000000,-9.900000,1.400000,3.600000,-25.600000,-15.500000,1.000000,3.000000,2.700000,0.090000,-26.800000,6.000000,650.000000,1.000000,-9.500000,2.400000,16.200000
25%,-0.800000,85.400000,104.800000,6.000000,-1.700000,71.700000,23.500000,-2.800000,-2.800000,42.000000,33.100000,17.800000,1.170000,-4.100000,22.250000,4760.000000,14.000000,-1.500000,55.900000,117.050000
50%,0.300000,91.700000,118.500000,6.000000,0.200000,73.500000,26.500000,0.700000,0.900000,56.850000,39.400000,20.200000,1.250000,1.400000,25.200000,5750.000000,30.000000,0.950000,58.300000,128.500000
75%,1.800000,96.900000,129.400000,6.000000,2.100000,75.200000,29.500000,4.600000,5.200000,69.475000,43.500000,22.400000,1.310000,6.200000,27.800000,6810.000000,48.000000,3.500000,60.700000,140.200000
max,9.000000,128.700000,195.600000,6.000000,10.600000,86.100000,36.400000,40.300000,38.600000,107.800000,50.400000,33.400000,1.500000,42.500000,37.300000,9690.000000,90.000000,16.600000,69.800000,228.000000

In [4]:
combined_df.dtypes

ATTACK ANG.            float64
BALL SPEED             float64
CARRY                  float64
CLUB                   float64
CLUB PATH              float64
CLUB SPEED             float64
DATE            datetime64[ns]
DYN. LOFT              float64
FACE ANG.              float64
FACE TO PATH           float64
HEIGHT                 float64
LAND. ANG.             float64
LAUNCH ANG.            float64
SHEETNAME               object
SIDE                    object
SIDE TOT.               object
SMASH FAC.             float64
SPIN AXIS              float64
SPIN LOFT              float64
SPIN RATE                int64
STROKE NO              float64
SWING DIR.             float64
SWING PL.              float64
TOTAL                  float64
dtype: object

### Group by Date and remove the  date '2015-04-25' since it has many NAN

In [8]:
bydate = combined_df.groupby('DATE')
bydate = bydate.mean()
bydate.drop(pd.Timestamp('20150424'))

,ATTACK ANG.,BALL SPEED,CARRY,CLUB,CLUB PATH,CLUB SPEED,DYN. LOFT,FACE ANG.,FACE TO PATH,HEIGHT,LAND. ANG.,LAUNCH ANG.,SMASH FAC.,SPIN AXIS,SPIN LOFT,SPIN RATE,STROKE NO,SWING DIR.,SWING PL.,TOTAL
DATE,,,,,,,,,,,,,,,,,,,,
2015-03-06,2.980645,84.515686,100.225490,6.0,-0.274194,70.613725,24.893548,-4.703226,NaN,44.474510,32.549020,18.150980,1.174314,NaN,24.748387,5205.941176,25.000000,1.856522,NaN,115.886275
2015-03-07,1.215094,89.669333,115.930667,6.0,-0.269811,73.078667,27.801887,3.315094,3.637736,59.990667,39.408000,21.481333,1.210933,NaN,NaN,6297.933333,37.000000,1.025676,56.270270,126.561333
2015-03-21,-0.171186,89.392405,115.311392,6.0,-0.474576,71.927848,24.272881,-1.096610,-0.581356,48.749367,34.445570,18.316456,1.227975,NaN,NaN,5224.455696,39.000000,-0.110390,59.512987,130.300000
2015-04-04,1.258333,86.218056,104.669444,6.0,-0.443750,71.422222,27.581250,4.095833,4.539583,51.668056,37.169444,20.347222,1.205556,5.260417,NaN,5900.916667,36.888889,0.677612,59.329851,117.158333
2015-04-08,0.811111,91.795000,113.737500,6.0,-1.850000,74.037500,28.450000,0.544444,2.394444,55.000000,36.730000,18.915000,1.239250,NaN,NaN,5530.125000,20.500000,0.689744,56.869231,127.902500
2015-04-11,1.029545,105.887037,144.496296,5.3,1.290909,77.729630,20.227273,1.481818,0.197727,54.851852,32.714815,16.383333,1.355741,0.070455,NaN,3773.333333,11.185185,2.075472,55.832075,167.250000
2015-04-18,-0.173469,94.904918,122.034426,6.0,-0.275510,74.896721,24.832653,-1.181633,-0.902041,57.342623,37.219672,18.975410,1.264754,NaN,NaN,5126.885246,18.737705,-0.063934,NaN,136.939344
2015-04-25,0.730233,93.550000,120.710937,6.0,0.867442,75.620312,27.767442,2.981395,2.104651,61.384375,39.610938,20.517188,1.237656,1.695349,NaN,6158.281250,32.500000,2.428814,58.500000,132.235937
2015-04-29,-0.355556,86.883146,107.759551,6.0,-0.846296,71.566292,27.588889,0.925926,1.825926,50.940449,36.505618,20.055056,1.200225,NaN,NaN,6173.022472,44.000000,-0.610112,55.151685,120.468539
2015-05-16,0.218182,91.112698,118.888889,6.0,1.588636,75.279365,27.097727,1.936364,0.350000,57.865079,39.468254,20.584127,1.210317,-0.384091,NaN,6250.000000,32.000000,2.595238,60.796825,129.347619
2015-05-30,0.618519,87.993333,110.105556,6.0,1.174074,73.091111,26.772222,0.868519,-0.307407,51.514444,37.492222,19.740000,1.203556,-1.687037,NaN,5891.666667,45.500000,2.834524,59.275000,121.954444

TODO: Figure out how to plot the differnet measures, since "bydate" above already calculates mean. So need to determine how to drop a row index when you group by. Below will give an Error

In [237]:

bydate.mean()['TOTAL'].plot()
bydate.min()['TOTAL'].plot()
bydate.max()['TOTAL'].plot()

AttributeError: 'numpy.float64' object has no attribute 'plot'