# Notebook to run ExtractData.py

In [112]:
#execfile('/Users/kartiks/Documents/github/GolfScores/ExtractData.py')
#execfile('C:\docs\github\golfscores\ExtractData.py')
%matplotlib inline
%run ExtractData.py

In [113]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [114]:
combined_df.describe()

,ATTACK ANG.,BALL SPEED,CARRY,CLUB PATH,CLUB SPEED,DYN. LOFT,FACE ANG.,FACE TO PATH,HEIGHT,LAND. ANG.,LAUNCH ANG.,SMASH FAC.
count,920.000000,1361.000000,1361.000000,875.000000,1361.000000,875.000000,875.000000,844.000000,1308.000000,1308.000000,1308.000000,1308.000000
mean,0.521522,90.176341,114.480676,0.084457,72.957311,26.575543,0.911657,1.030095,54.332263,37.373318,19.889602,1.229388
std,2.355193,11.481707,24.479026,2.961154,5.311451,5.344104,6.705778,6.693290,20.255824,9.331642,4.595805,0.137536
min,-6.600000,5.600000,6.200000,-9.900000,1.400000,3.600000,-25.600000,-19.100000,0.600000,1.900000,1.500000,0.090000
25%,-0.900000,85.400000,104.900000,-1.800000,71.500000,23.900000,-3.300000,-3.300000,42.675000,33.600000,17.900000,1.180000
50%,0.400000,91.200000,117.900000,0.000000,73.200000,27.000000,0.700000,0.900000,57.150000,39.800000,20.500000,1.250000
75%,1.900000,96.500000,128.700000,2.000000,75.000000,29.900000,4.950000,5.400000,69.125000,43.800000,22.800000,1.310000
max,9.000000,128.700000,195.600000,10.600000,86.100000,38.400000,40.300000,38.600000,107.800000,53.200000,42.200000,1.500000

In [115]:
combined_df.columns.values

array([u'ATTACK ANG.', u'BALL SPEED', u'CARRY', u'CLUB', u'CLUB PATH',
       u'CLUB SPEED', u'DATE', u'DYN. LOFT', u'FACE ANG.', u'FACE TO PATH',
       u'HEIGHT', u'LAND. ANG.', u'LAUNCH ANG.', u'LOW POINT', 'SHEETNAME',
       u'SIDE', u'SIDE TOT.', u'SMASH FAC.', u'SPIN AXIS', u'SPIN LOFT',
       u'SPIN RATE', u'STROKE NO', u'SWING DIR.', u'SWING PL.', u'TOTAL'], dtype=object)

### Need to convert most of the columns to ints but not all 
 Get the columns headers into a set
 for each column header if it's not a type we don't want as an int conver it into one.
 Also see ExtractData.py
 Need to figuire out how to convert the colum values to a set and then take difference as below.

In [117]:
type_int = set(['HEIGHT' , 'LAND. ANG.' ,'LAUNCH ANG.'])
type_other = set(['CLUB' , 'SIDE'])
type_all = type_int | type_other
type_all

{'CLUB', 'HEIGHT', 'LAND. ANG.', 'LAUNCH ANG.', 'SIDE'}

In [119]:
type_all - type_other

{'HEIGHT', 'LAND. ANG.', 'LAUNCH ANG.'}

In [95]:
for h in type_int:
    combined_df[h] = pd.to_numeric(combined_df[h], errors='coerce')

HEIGHT
LAND. ANG.
LAUNCH ANG.

In [64]:
combined_df.SHEETNAME.unique()

array(['3-6-2015', '3-7 - 4-4', '4-8', '4-11-2015', '4-18-2015',
       '4-24-2015', '4-25-2015', '4-29-15', '5-16', '5-30-2015',
       '06-13-2015', '07-18-2015', '08-18-2015', '10-10-2015',
       '10-24-2015', '11-17-2015', '11-21-2015', '2-27-2016', '3-29-2016',
       '4-23-2016'], dtype=object)

In [65]:
d = combined_df[combined_df.SHEETNAME == '2-27-2016']
combined_df['SHEETNAME'].astype('string').unique()

array(['3-6-2015', '3-7 - 4-4', '4-8', '4-11-2015', '4-18-2015',
       '4-24-2015', '4-25-2015', '4-29-15', '5-16', '5-30-2015',
       '06-13-2015', '07-18-2015', '08-18-2015', '10-10-2015',
       '10-24-2015', '11-17-2015', '11-21-2015', '2-27-2016', '3-29-2016',
       '4-23-2016'], dtype=object)

In [100]:
combined_df.dtypes

ATTACK ANG.            float64
BALL SPEED             float64
CARRY                  float64
CLUB                    object
CLUB PATH              float64
CLUB SPEED             float64
DATE            datetime64[ns]
DYN. LOFT              float64
FACE ANG.              float64
FACE TO PATH           float64
HEIGHT                 float64
LAND. ANG.             float64
LAUNCH ANG.            float64
LOW POINT               object
SHEETNAME               object
SIDE                    object
SIDE TOT.               object
SMASH FAC.             float64
SPIN AXIS               object
SPIN LOFT               object
SPIN RATE               object
STROKE NO               object
SWING DIR.              object
SWING PL.               object
TOTAL                   object
dtype: object

In [67]:
combined_df.CLUB.unique()

array(['6', 'Dr', '3'], dtype=object)

### Filter out the different Clubs

In [45]:
hdf = pd.HDFStore('Golf_data.h5')
df = combined_df[combined_df.CLUB == 6]
hdf.put('I6', df, format = 'table', data_colums=True)
df = combined_df[combined_df.CLUB == 6]

In [ ]:
df[df['DATE'] == '2015-03-06']

In [46]:
hdf

<class 'pandas.io.pytables.HDFStore'>
File path: Golf_data.h5
/I6            frame_table  (typ->appendable,nrows->1314,ncols->25,indexers->[index])

### Group by Date and remove the  date '2015-04-25' since it has many NAN

In [ ]:
bydate = df.groupby('DATE')
#bydate = bydate.mean()
#bydate.drop(pd.Timestamp('20150424'))

TODO: Figure out how to plot the differnet measures, since "bydate" above already calculates mean. So need to determine how to drop a row index when you group by. Below will give an Error

In [ ]:

bydate.mean()
#bydate.min()['TOTAL'].plot()
#bydate.max()['TOTAL'].plot()

In [ ]:
#bydate['ATTACK ANG.'].plot()
#bydate['SWING DIR.'].plot()
bydate['TOTAL'].plot()